
<html>
<head>
  <link rel="stylesheet"
 href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
</head>
<header>
  <img class="animated flipInY"src="https://i.imgur.com/HhOM95e.jpg" alt="banner" height="300px" width="100%">
</header>
<section>
<div class="nav">
    <div class="navbar">
      <a href="/">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Categories
          <i class="la la bub"></i>
        </button>
        <div class="dropdown-content" id="merchant-dropdown">
      <%= link_to "Create a new category",  new_category_path(@category) %>
        <%= link_to "View all Categories",  categories_path(@categories) %>
        </div>
      </div>
    </div>
  </div>
</section>
<body>
  All Jobs for <strong><%= @company.name %></strong>
  <% @jobs.each do |job| %>
  <ul class="flex-container flex-start">
    <li class="company-box" style="font-family:Garamond; font-size:20px; font-color:white" <%= job.id %>>
      <div class="inside">
        <%= @company.name %>:
          <%= link_to job.title, job_path(job) %>:
          <%= link_to "Delete", company_job_path(job.company, job), method: "delete" %>
            <%= link_to "Edit", edit_company_job_path(@company, job)%>
      </div>
    </li>
    <% end %>
  </ul>
  </body>
  </html>
